.chatHeader {
    position: relative;

    > span:first-child{
        display: block;
        line-height: 50px;
    }

    > span:last-child{
        display: inline-block;
        font-size: 14px;
        font-weight: normal;
        line-height: 14px;
        position: absolute;
        bottom: -3px;
    }
}
.chatWindow {
    background: #DDE1E0;
    height: 100vh;
}
.refresh {
	top: calc(50% - 20px) !important;
	left: calc(50% - 20px) !important;
    transform: translate(0) !important;
    position: fixed !important;
}
.actionBtns {
    display: flex;
    position: fixed;
    background: #fff;
    bottom: 0;
    width: calc(100% - 54px);
    left: 0;
    right: 0;
    align-content: center;
    border: 1px solid #f1f1f1;
    padding: 0 20px;
    border-radius: 25px;
    margin: 0 7px 5px 7px;


    a {
        align-self: center;
        text-align: center;
        width: 15px;
        line-height: 0;
    }
}

.ChatBox {
    padding-top: 64px;
    max-height: calc(100vh - 123px);
    overflow-y: auto;

    > div {
        position: relative;
        margin-bottom: 15px;
    }

    .newDay {
        text-align: center;
        font-style: italic;
        color: #888;
        font-size: 12px;
        padding-bottom: 5px;
    }

    .chatlet {
        font-size: 16px;
        display: inline-block;
        padding: 8px 10px;
        background: #fff;
        color: #444;
        margin: 5px;
        max-width: 80%;
        border-radius: 5px;

        span{
            word-wrap: break-word;
            white-space: pre-wrap;
        }
    }
    .time {
        font-size: 10px;
        position: absolute;
        bottom: -14px;
        left: 7px;
        font-style: italic;
        color: #888;

        span {
            display: inline-block;
            vertical-align: middle;

            svg {
                height: 13px!important;
                width: 13px!important;
                margin-left: 4px;
            }
        }
    }
}

.self {
    text-align: right;
        .chatlet {
            background: #B1E1F5;
            color: #000;
            text-align: left;
        }
        .time {
            right: 7px;
        }
}
