.refresh {
	top: calc(50% - 20px) !important;
	left: calc(50% - 20px) !important;
    transform: translate(0) !important;
    position: fixed !important;
}
.actionBtns {
    display: flex;
    position: fixed;
    background: #e7e7e7;
    bottom: 0;
    width: calc(100% - 20px);
    left: 0;
    right: 0;
    align-content: center;
    border-top: 1px solid #f1f1f1;
    padding: 0 10px;

    a {
        align-self: center;
        text-align: center;
        width: 25px;
    }
}

.ChatBox {
    background: #f9f9f9;
    padding: 64px 0 50px;
    min-height: calc(100vh - 114px);

    > div {
        position: relative;
        margin-bottom: 15px;
    }

    .newDay {
        text-align: center;
        font-style: italic;
        color: #888;
        font-size: 12px;
        padding-bottom: 5px;
    }

    .chatlet {
        font-size: 16px;
        display: inline-block;
        padding: 8px 10px;
        background: #e1e1e1;
        color: #444;
        margin: 5px;
        max-width: 80%;
        border-radius: 5px;
    }
    .time {
        font-size: 10px;
        position: absolute;
        bottom: -10px;
        left: 7px;
        font-style: italic;
        color: #888;
    }
}

.self {
    text-align: right;
        .chatlet {
            background: rgb(0, 188, 212);
            color: #fff;
        }
        .time {
            right: 7px;
        }
}
