.Header {
	.avtar {
		a {
			svg {
				height: 50px !important;
				margin-right: 15px;
			}	
		}
	}
	img{
		width: 50px !important;
		height: 50px !important;
	}

	h1 {
		height: 55px!important;
	}
}