.FriendList {
	padding-top: 55px;

	.lastTime {
		font-size: 10px !important;
		color: #888 !important;
		width: 57px !important;
		text-align: right;
	}
}

.refresh {
	top: calc(50% - 20px) !important;
	left: calc(50% - 20px) !important;
	transform: translate(0) !important;
}